@page "/janken"
@rendermode InteractiveServer

<h3>じゃんけんゲーム</h3>

<div class="choices">
    <button @onclick="() => Play(Move.Rock)">✊  グー</button>
    <button @onclick="() => Play(Move.Paper)">✋  パー</button>
    <button @onclick="() => Play(Move.Scissors)">✌️  チョキ</button>
</div>

@if (UserMove.HasValue)
{
    <div class="result">
        <p>あなた：@UserMove.Value → コンピューター：@ComputerMove</p>
        <p>@OutcomeMessage</p>
        <p>＜現在のスコア＞ あなた：@UserScore ／ コンピューター：@ComputerScore</p>
    </div>
}

@code {
    enum Move { Rock, Paper, Scissors }

    Move? UserMove;
    Move ComputerMove;
    int UserScore = 0, ComputerScore = 0;
    string OutcomeMessage = "";

    Random rnd = new();

    void Play(Move user)
    {
        UserMove = user;
        ComputerMove = (Move)rnd.Next(0, 3);
        DetermineWinner();
    }

    void DetermineWinner()
    {
        if (UserMove == ComputerMove)
        {
            OutcomeMessage = "引き分け！";
        }
        else if (
            (UserMove == Move.Rock && ComputerMove == Move.Scissors) ||
            (UserMove == Move.Paper && ComputerMove == Move.Rock) ||
            (UserMove == Move.Scissors && ComputerMove == Move.Paper)
        )
        {
            OutcomeMessage = "あなたの勝ち！🎉";
            UserScore++;
        }
        else
        {
            OutcomeMessage = "コンピューターの勝ち...";
            ComputerScore++;
        }
    }
}
